* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('./wood.jpg');
    background-size: cover;
    background-color: #6a5029;
}

nav {
    display: flex;
    justify-content: center;
}

button {
    font-size: 40px;
    padding: 10px 25px;
    border-radius: 1em;
    background-color: rgb(68, 49, 49);
    color: wheat;
}

button:hover {
    background-color: rgb(91, 67, 67);
}

.menu {
    margin-left: 1.2em;
    margin-right: 1.2em;
}

#content {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.homeContent,
.menuContent,
.aboutContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 700px;
    border-radius: 30px;
    text-align: center;
    color: wheat;
    background-color: rgb(92, 57, 57);
    font-size: 25px;
    gap: 20px;
}

.aboutContent {
    display: grid;
    grid-template-columns: 1fr;

}

.menuTitle {
    grid-column: 2 / 3;
    font-size: 60px;
}

.homeTitle {
    grid-column: 1 / 4;
    font-size: 50px;
}

.aboutTitle {
    grid-column: 1 / 2;
    font-size: 60px;
}

.openingText {
    grid-area: 2 / 1 / 3 / 4;
}

.pizza-img {
    grid-row: 2 / 3;
}

.fries-img {
    grid-row: 3 / 4;
}

.wings-img {
    grid-row: 4 / 5;
}

.openingText {
    grid-area: 2 / 1 / 3 / 4;
}

.pizza-text {
    grid-area: 2 / 2 / 3 / 4;
}

.fries-text {
    grid-area: 3 / 2 / 4 / 4;
}

.wings-text {
    grid-area: 4 / 2 / 5 / 4;
}

.pizza-img,
.fries-img,
.wings-img {
    height: auto;
    width: 90%;
    border-radius: 30px;
    padding-left: 10px;
}

li, a {
    font-size: 45px;
    color: wheat;
}

.owner {
    grid-row: 2 / 3;
}

.established {
    grid-row: 3 / 4;
}

.faqLink {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}